
<div class="pt-3">
    <div class="text-center datos">
        <h1 id="title">{{ title }}</h1>
        <h3 class="subtitle">{{ subtitle }}</h3>
        <p class="email">{{ email }}</p>
    </div>
    <h2 class="sobre-mi">SOBRE MÍ</h2>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Quis facere, iusto, voluptate rerum consequatur
      corporis enim consequuntur eum totam obcaecati,
       molestiae assumenda delectus adipisci maxime
       debitis laborum sint fugit fuga. Lorem ipsum dolor
       sit amet consectetur adipisicing elit. Obcaecati
       cupiditate minima ad ab tempora, delectus odit eos
        autem quisquam! Molestiae, ex ullam nesciunt sed
        accusamus fugit voluptates libero? Nobis, ab.
        Lorem ipsum dolor sit, amet consectetur adip
        isicing elit. Quisquam libero corrupti rem natus
        exercitationem voluptas illo voluptatum ipsa officiis!
        Incidunt, sunt molestias unde earum aliquam inventore
        cumque id facere tempora.</p>
    <p class="text-justify">Lorem, ipsum dolor sit
      amet consectetur adipisicing elit. Quod quam iusto p
      laceat numquam suscipit debitis esse, aliquid eos saepe
      fugit sed tempore autem, enim, quia voluptatum eius! Eaque
      voluptate magni quis voluptatum officiis. Ipsa dolores hic facere
      sunt earum. Assumenda quae, inventore ratione odit perspiciatis ipsam
       recusandae at totam natus ut facere repudiandae deleniti voluptatum r
       eprehenderit quia excepturi illo dolorum quisquam in atque! Alias
       repudiandae eius aspernatur tm impedit,
      tempora minima eveniet officiis ipsam, rerum accusamus consecteturnisi
      temporibus ullam earum mollitia laboriosam facere dolor deleniti amet. Similique
      sed amet unde inventore quod quis veniam velit quaerat temporibus nisi incidunt,
      vel nam commodi error iste nobis dolorum hic nulla saepe accusamus quam fugit quae.
      Omnis enim laborum tenetur voluptas, nemo aspernatur odio ut error mollitia laudantium
      neque totam nulla atque ipsa deleniti in repellat possimus velit architecto, dolor eius
      quasi! Dolore iusto vero doloribus omnis tempore provident consequuntur,
      cumque necessitatibus laudantium quas deserunt sapiente iure facere rem saepe
      facilis soluta laborum nemo animi quasi impedit perspiciatis tenetur atque. Omnis,
      at vitae obcaecati, sint voluptatem neque porro quasi voluptatibus sapiente eius doloremque
      quaerat, adipisci dolores facilis necessitatibus. Vitae in ea ullam vel similique eius ipsa.
      Fugit, deserunt ex vel doloremque atque iusto laborum optio repudiandae numquam debitis laboriosam
      deleniti aliquid reprehenderit, veniam nesciunt dolorum tempore earum aut repellat possimus. Nihil
      accusamus nobis nulla quidem porro sit, iure voluptas provident nisi ab?</p>
</div>
