
<!-- cabecera -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"><img src="https://images-na.ssl-images-amazon.com/images/I/71bjTKSAYqL._SX425_.jpg" alt="" width="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-success" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sobre-mi']">Sobre Mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/proyectos']">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/crear-proyecto']">Crear Proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ingrese un proyecto" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
</nav>

<!-- contenido -->

<div class="container">
  
  <router-outlet></router-outlet>

</div>

<!-- footer -->
  <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="https://images-na.ssl-images-amazon.com/images/I/71bjTKSAYqL._SX425_.jpg" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">&copy; RoyCabreraAyala</small>
            </div>
            <div class="col-6 col-md">
              <h5>Especialidades</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Desarrollo Web</a></li>
                <li><a class="text-muted" href="#">Desaroollo Móvil</a></li>
                <li><a class="text-muted" href="#">Base de Datos</a></li>
                <li><a class="text-muted" href="#">DevOps</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Contenido</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" [routerLink]="['/sobre-mi']">Acerca de mí</a></li>
                <li><a class="text-muted" href="#">Proyectos</a></li>
                <li><a class="text-muted" [routerLink]="['/crear-proyecto']">Crear Proyecto</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Contacto</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Facebook</a></li>
                <li><a class="text-muted" href="#">Twitter</a></li>
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Github</a></li>
              </ul>
            </div>
          </div>
      </footer>
  </div>




